// Variables & Setup
// **************************************************
// **************************************************

// GLOBAL VALUES
// --------------------------------------------------

// Background
$backgroundColor:                  #FFF;

// Links
$linkColor:                        #00b3f6;
$linkColorHover:                   darken($linkColor, 15%);

// Grays
$black:                            #000;
$grayDarker:                       #222;
$grayDark:                         #333;
$gray:                             #555;
$grayLight:                        #999;
$grayLighter:                      #eee;
$white:                            #fff;
      
// Accent colors                   
$blue:                             #049cdb;
$blueDark:                         #0064cd;
$green:                            #46a546;
$red:                              #9d261d;
$yellow:                           #ffc40d;
$orange:                           #f89406;
$pink:                             #c3325f;
$purple:                           #7a43b6;
      
// Typography                    
$baseFontSize:                     15px;
$baseFontFamily:                   "museo-sans", Helvetica, Arial, sans-serif;
$baseLineHeight:                   22px;
$textColor:                        #0F0F0F;
$headlineTextColor:                #00b3f6;

// Buttons                         
$primaryButtonBackground:          $linkColor;

//Borders
$borderColor:                      #1a1a1a;

// COMPONENT VARIABLES
// --------------------------------------------------

// Input placeholder text color
$placeholderText:                 $grayLight;

// HR border color
$hrBorder:                        $grayLighter;

// Navbar
$navbarHeight:                    40px;
$navbarBackground:                $grayDarker;
$navbarBackgroundHighlight:       $grayDark;
$navbarLinkBackgroundHover:       transparent;

$navbarText:                      $grayLight;
$navbarLinkColor:                 $grayLight;
$navbarLinkColorHover:            $white;

// Form states and alerts
$warningText:                     #c09853;
$warningBackground:               #fcf8e3;
$warningBorder:                   darken(adjust-hue($warningBackground, -10), 3%);
          
$errorText:                       #b94a48;
$errorBackground:                 #f2dede;
$errorBorder:                     darken(adjust-hue($errorBackground, -10), 3%);
          
$successText:                     #468847;
$successBackground:               #dff0d8;
$successBorder:                   darken(adjust-hue($successBackground, -10), 5%);
          
$infoText:                        #3a87ad;
$infoBackground:                  #d9edf7;
$infoBorder:                      darken(adjust-hue($infoBackground, -10), 7%);


// GRID
// --------------------------------------------------
 
// Default 940px grid
$gridColumns:             8;
$gridColumnWidth:         90px;
$gridGutterWidth:         40px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

// Fluid grid
$fluidGridColumnWidth:    8.6538462%;
$fluidGridGutterWidth:    3.8461538%;



// Imports & Includes
// **************************************************
// **************************************************

// My Mixins
@import "partials/custom_mixins";

//Compass Mixins
@import "compass/css3";

// Twitter Bootstrap
@import "bootstrap";
@import "bootstrap-responsive";

@import "partials/responsive-767px-max";

@import "partials/font_awesome";

