/* ------------------------------------------- */
/*    VARIABLES & SETUP              					 */
/* ------------------------------------------- */

/* Blueprint Liquid Configuration */
$blueprint-liquid-grid-columns            : 24;
$blueprint-liquid-grid-width              : 3.167%;
$blueprint-liquid-grid-margin             : 1.042%;
$blueprint-liquid-container-width         : 80%;
$blueprint-liquid-container-min-width     : 320px;
$blueprint-liquid-container-max-width     : 950px;

/* Primary Typography configuration */
$font-family	          : Helvetica, "Helvetica Neue", Arial, sans-serif;
$base-font-size         : 16px;
$base-line-height       : 24px;
$font-color             : #252525;
$subdued-font-color			: #636363;
$positive-font-color    : #1D7101;
$negative-font-color    : #FF0000;

/* Secondary Typography configuration */
$secondary-font-family	: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-content-color: #7d7d7d;

/* Link configuration */
$header-link-color			: #7d7d7d;
$link-color							: #533d79;
$link-hover-color       : darken($link-color, 10%);
$link-active-color      : darken($link-color, 10%);
$link-visited-color     : #533d79;
$link-focus-color       : #533d79;
$footer-link-color  		: #655a78;

/* Default text-shadow configuration, will create a letterpress effect */
$default-text-shadow-color: rgba(0,0,0, 0.6);
$default-text-shadow-blur: 0;
$default-text-shadow-v-offset: -1px;

/* Default drop-shadow configuration */
$default-box-shadow-color			: rgba(0,0,0,.65);
$default-box-shadow-h-offset 	: 0;
$default-box-shadow-v-offset 	: 2px;
$default-box-shadow-blur			: 6px;

/* Default border-radius configuration */
$default-border-radius	: 8px;

/* Default form border colors */
$unfocused-border-color				: #b0b0b0 #ddd #ddd #b0b0b0;
$focus-border-color						: darken(#b0b0b0, 5%) darken(#ddd, 5%) darken(#ddd, 5%) darken(#b0b0b0, 5%);
$fieldset-border-color				: none;

// Compass files to load
@import "compass/css3";
@import "compass/typography/links";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/lists/horizontal-list";

// Blueprint files to load
@import "blueprint/liquid";

//Custom mixin and function files required by reset, layout, modules and states
@import "custom_mixins";

// Combine the partials into a single stylesheet.
@import "reset";
@import "default";
@import "layout";
@import "modules";
@import "states";

@import "jquery_overrides";