//
// Variables
// --------------------------------------------------


// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee

// Brand colors
// -------------------------

$brand-primary:         #428bca;
$brand-success:         #5cb85c;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$brand-info:            #5bc0de;

// Scaffolding
// -------------------------

$body-bg:               #fff;
$text-color:            $gray-dark;

// Links
// -------------------------

$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);

// Typography
// -------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
$font-size-large:         ceil($font-size-base * 1.25); // ~18px
$font-size-small:         ceil($font-size-base * 0.85); // ~12px
$font-size-mini:          ceil($font-size-base * 0.75); // ~11px

$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base); // ~20px

$headings-font-weight:    500;
$headings-line-height:    1.1;

$base-font-family:        $font-family-sans-serif;

// Grid system
// --------------------------------------------------

// Susy grid
// -------------------------
$total-columns  : 12;             // a 12-column grid
$column-width   : 5em;            // each column is 4em wide
$gutter-width   : 2em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters


// IMPORTS & INCLUDES
// --------------------------------------------------

//Twitter Bootstrap
@import "vendor/bootstrap/bootstrap";

//Compass Mixins
@import "compass";
//Susy
@import "susy";

//Font Awesome
@import "font_awesome";

// My Mixins
@import "custom_mixins";

@import "modules";
