// ------------------------------------------- //
//    BODY & DEFAULT   												 //
// ------------------------------------------- //
body {
  // ---- Body Rules --------------------------- //
  width: 100%;
  background: #FFF;

  // ---- Default Typography --------------------------- //
  color: #333;
  font: 100%/1.618 $secondary-font-family;
  
  h1, h2, h3, h4, h5, h6 {
    
  }
  
  p {
    
  }
  
  // ---- Default Links --------------------------- //
  a {
    @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color); 
  }
  
  
  // ---- Default Forms --------------------------- //
  // ------------------------------------------- //
  //    Form input styles largely taken and      //
  //    modified from formalize.css		  				 //
  // ------------------------------------------- //

  ::-moz-focus-inner {
    border: 0;
    padding: 0; }

  input {
    &[type="search"]::-webkit-search-decoration {
      display: none; }
    &[type="radio"], &[type="checkbox"] {
      position: relative;
      vertical-align: top;
      top: 3px;
      top: 0 \0;
      *top: -3px; }
    margin: 0;
    vertical-align: middle; }

  @media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
    input {
      &[type="radio"], &[type="checkbox"] {
        vertical-align: baseline;
        top: 2px; } } }

  @media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
    input {
      &[type="radio"], &[type="checkbox"] {
        vertical-align: baseline;
        top: 0; } } }

  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
    input {
      &[type="radio"], &[type="checkbox"] {
        vertical-align: baseline;
        top: 0; } } }

  select, textarea {
    margin: 0;
    vertical-align: middle; }

  input:focus, select:focus, textarea:focus {
    -moz-box-shadow: #0066ff 0 0 7px 0;
    -webkit-box-shadow: #0066ff 0 0 7px 0;
    -o-box-shadow: #0066ff 0 0 7px 0;
    box-shadow: #0066ff 0 0 7px 0;
    z-index: 1; }

  input {
    &[type="file"] {
      &:focus, &:active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none; } }
    &[type="radio"] {
      &:focus, &:active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none; } }
    &[type="checkbox"] {
      &:focus, &:active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none; } } }

  button, input {
    &[type="reset"], &[type="submit"], &[type="button"] {
      @include create-button(#FFFFFF); } }

      
  button {
    @include create-button(#FFFFFF);
    *padding-top: 1px;
    *padding-bottom: 1px; }
    
  

  textarea, select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: black;
    outline: 0;
    padding: 2px 3px;
    text-align: left;
    font-size: 13px;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
    height: 1.8em;
    *padding-top: 2px;
    *padding-bottom: 1px;
    *height: auto; }

  input {
    &[type="date"], &[type="datetime"], &[type="datetime-local"], &[type="email"], &[type="month"], &[type="number"],
    &[type="password"], &[type="search"], &[type="tel"], &[type="text"], &[type="time"], &[type="url"], &[type="week"], &[type="color"] {
      @include box-sizing(border-box);
      @include background-clip($default-background-clip);
      @include border-radius(2px);
      @include box-shadow(inset rgba(0,0,0,.1) 0 2px 3px);
      -webkit-appearance: none;
      border: 1px solid #ccc;
      background: #FFF;
      font-size: calc-em(14px, $base-font-size);
      padding: 4px;
      text-align: left;
      font-family: $font-family;
      height: calc-em(32px, 14px);
      line-height: calc-em(21px, 14px);
      *padding-top: 2px;
      *padding-bottom: 1px;
      *height: auto; } }

  :-moz-placeholder {
    color: #bfbfbf;
    font-style: italic;
  }
  ::-webkit-input-placeholder {
    color: #bfbfbf;
    font-style: italic;
  }

  input:focus, textarea:focus {
    outline: 0;
    border-color: rgba(82, 168, 236, 0.8);
    @include box-shadow(inset rgba(0,0,0,.1) 0 2px 3px, 0 0 6px rgba(82, 168, 236, 0.6));
  }

  textarea[disabled], select[disabled] {
    background-color: #eeeeee; }

  input {
    &[type="date"][disabled], &[type="datetime"][disabled], &[type="datetime-local"][disabled], &[type="email"][disabled], &[type="month"][disabled], &[type="number"][disabled], &[type="password"][disabled], &[type="search"][disabled], &[type="tel"][disabled], &[type="text"][disabled], &[type="time"][disabled], &[type="url"][disabled], &[type="week"][disabled] {
      background-color: #eeeeee; } }

  input[disabled] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #888888;
    cursor: default; }

  select[disabled] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #888888;
    cursor: default;
    option, optgroup {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      -moz-user-select: -moz-none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      color: #888888;
      cursor: default; } }

  textarea[disabled] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #888888;
    cursor: default; }
  :invalid {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

  textarea {
    height: auto; }

  select {
    &[size], &[multiple] {
      height: auto; } }

  @media (-webkit-min-device-pixel-ratio: 0) {
    select {
      @include background-image(image-url('parts/forms/select_arrow.gif'));
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 20px;
    }

    select[size],
    select[multiple] {
      background-image: none;
      padding: 0;
    }

    ::-webkit-validation-bubble-message {
      -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
      border: 1px solid;
      border-color: #747474 #5e5e5e #4f4f4f;
      color: white;
      font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
      overflow: hidden;
      padding: 15px 15px 17px;
      text-shadow: black 0 0 1px;
      height: 16px;
    }

    ::-webkit-validation-bubble-arrow,
    ::-webkit-validation-bubble-top-outer-arrow,
    ::-webkit-validation-bubble-top-inner-arrow {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #666666;
      border: 0;
    }
  }

  textarea {
    min-height: 40px;
    overflow: auto;
    resize: vertical;
    width: 100%; }

  optgroup {
    color: black;
    font-style: normal;
    font-weight: normal; }


  /* IE6 Form Styles */
  .ie6_button {
    @include background(#ddd image-url('parts/forms/button.png') repeat-x top left);
    border: 1px solid;
    border-color: #dddddd #bbbbbb #999999;
    cursor: pointer;
    color: #333333;
    font: bold 12px / 1.2 Arial, sans-serif;
    padding: 2px 10px 0px;
    overflow: visible;
    width: auto; }

  * html button {
    @include background(#ddd image-url('parts/forms/button.png') repeat-x top left);
    border: 1px solid;
    border-color: #dddddd #bbbbbb #999999;
    cursor: pointer;
    color: #333333;
    font: bold 12px / 1.2 Arial, sans-serif;
    padding: 2px 10px 0px;
    overflow: visible;
    width: auto;
    padding-top: 1px;
    padding-bottom: 1px; }

  .ie6_input {
    background: white;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: black;
    padding: 2px 3px 1px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    vertical-align: top; }

  * html {
    textarea {
      background: white;
      border: 1px solid;
      border-color: #848484 #c1c1c1 #e1e1e1;
      color: black;
      padding: 2px 3px 1px;
      font-size: 13px;
      font-family: Arial, sans-serif;
      vertical-align: top; }
    select {
      background: white;
      border: 1px solid;
      border-color: #848484 #c1c1c1 #e1e1e1;
      color: black;
      padding: 2px 3px 1px;
      font-size: 13px;
      font-family: Arial, sans-serif;
      vertical-align: top;
      margin-top: 1px; } }

  .placeholder_text, .ie6_input_disabled, .ie6_button_disabled {
    color: #888888; }

  .ie6_input_disabled {
    background: #eeeeee; }
    
} //body