body {
  // ---- Buttons --------------------------- //
  .button {
    //Default button
    @include create-button(#FFFFFF);

    &.primary-action {
      @include create-button(#4096ee);
    }

    &.secondary-action {
      @include create-button(#FFF);
    }

    &.positive-action {
      @include create-button(#37AA11);
    }

    &.warning-action {
      @include create-button(#ff3019);
    }
  } //button

  // ---- Forms --------------------------- //
  .form-list {
    margin: 0;
    padding: 0;

    > li {
      margin: 0 0 calc-em(16px, $base-font-size);
      padding: 0 0 calc-em(4px, $base-font-size);
      list-style-type: none;
    }

    .short-clear,
    .full-clear,
    .form-header,
    .form-buttons {
      @include clearfix;
    }

    .full-clear,
    .form-header {
      width: 100%;
      input {
        width: 100%;
      }
    }

    .form-buttons {
      width: 100%;
    }

    .short-clear,
    .short-right {
      @include column(11.5, last);
      input {
        width: 100%;
      }
    }

    .short-right {
      float: right;
    }

    label {
      display: block;
      font-weight: bold;
      font-size: calc-em(13px, $base-font-size);
    } //label

    .form-title {
      h2 {
        margin: 0;
      }
      em {
        font-size: calc-em(12px, $base-font-size);
      }
    }

    .form-header {
      border-bottom: 1px solid #CCC;
      h3 {
        font-size: calc-em(16px, $base-font-size);
        margin: 0;
      }
    }
  } //form-list
  
  
  // ---- Notifications --------------------------- //
  .notification {
    
    .notification-content {
      color: #FFF;
      @include border-radius;
      @include text-shadow(rgba(0,0,0,.4) 0 -1px 0);
      @include box-shadow(inset rgba(255,255,255, .3) 0 1px 0, rgba(0,0,0,.2) 0 2px 3px);
      font-size: calc-em(13px, $base-font-size);
      padding: calc-em(6px, 13px) calc-em(6px, 13px) calc-em(6px, 13px) calc-em(39px, 13px) ;
      margin: 0 0 calc-em(13px, 13px) 0;
      > h2 {
        font-size: calc-em(18px, $base-font-size);
        line-height: calc-em(24px, 18px);
        margin: 0 0 calc-em(6px, 18px);
      } //h2

      > ul {
        margin: calc-em(6px, 13px) 0 calc-em(6px, 13px) calc-em(16px, 13px);
        padding: 0;
      } //ul
      
    } //notification-content
    
  } //notifications



}

