body {
  
  // ---- Error, Notice and Positive States --------------------------- //
  .notice,
  .positive,
  .error {
    @include background(#37AA11 image-url('parts/icons/ico-flash-positive.png') no-repeat calc-em(6px, 13px) calc-em(8px, 13px));
    @include background(image-url('parts/icons/ico-flash-positive.png') no-repeat calc-em(6px, 13px) calc-em(8px, 13px), linear-gradient(#37AA11 #29840c));
    color: #FFF;
    border: {
  		width: 1px;
  		style: solid;
  		top: {
  			color: darken(#37AA11, 5%);
  		}                        
  		right: {                 
  			color: darken(#37AA11, 8%);
  		}                        
  		bottom: {                
  			color: darken(#29840c, 5%);
  		}                        
  		left: {                  
  			color: darken(#37AA11, 8%);
  		}
  	} //border
  } //notice

  .error {
    @include background(#ff3019 image-url('parts/icons/ico-flash-error.png') no-repeat calc-em(6px, 13px) calc-em(8px, 13px));
    @include background(image-url('parts/icons/ico-flash-error.png') no-repeat calc-em(6px, 13px) calc-em(8px, 13px), linear-gradient(#ff3019 #d60404));
    border: {
  		width: 1px;
  		style: solid;
  		top: {
  			color: darken(#ff3019, 5%);
  		}                        
  		right: {                 
  			color: darken(#ff3019, 8%);
  		}                        
  		bottom: {                
  			color: darken(#d60404, 5%);
  		}                        
  		left: {                  
  			color: darken(#ff3019, 8%);
  		}
  	} //border
  } //error
  
}