@import 'partials/base';

// Global
// --------------------------------------------------
body {
  background: $body-bg;
  color: $text-color;
  line-height: 1.5;
  font-size: 100%;
  font-family: $base-font-family;
}


// Typography
// --------------------------------------------------
h1, h2, h3,
h4, h5, h6 {
  line-height: 1.25;
}

h1 {
}

h2 {
}

h3 {
}

p {
}

// Header
// --------------------------------------------------


// Main Content
// --------------------------------------------------


.main-content {
  @include container;
} //main-content




// Footer
// --------------------------------------------------
.site-footer {

}
