@import 'partials/base';

// Global
// --------------------------------------------------
body {
  background: $background-color image-url('backgrounds/bg-page.png') repeat;
  color: $text-color;
  line-height: 1.5;
  font-size: 100%;
  font-family: $base-font-family;
}


// Container
// --------------------------------------------------
%container {
  @include container;
} //container


// Typography
// --------------------------------------------------
h1, h2, h3,
h4, h5, h6 {
  line-height: 1.25;
}

p {
  font-weight: 300;
}


// Header
// --------------------------------------------------
.site-header {

}


// Main Content
// --------------------------------------------------
.main-content {
  
} //main-content 


// Footer
// --------------------------------------------------
.site-footer {

}