// Your standard form button.
//
// :hover    - Highlights when hovering.
// :disabled - Dims the button when disabled.
// .primary  - Indicates button is the primary action.
// .secondary - Secondary action
// .tertiary - Tertiary action
// .smaller  - A smaller button
//
// Styleguide 5.1
.btn {
  padding: calc-em(5px, 13px) calc-em(15px, 13px);
  line-height: normal;
  font-size: calc-em(13px);
  font-weight: bold;
  color: $gray;
  @include text-shadow(0 1px rgba(255, 255, 255, 0.9));
  @include border-radius(3px);
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  background-color: #f5f5f5;
  @include background-image(linear-gradient(#f5f5f5, #e5e5e5));
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  &.primary {
    color: $white;
    @include text-shadow(none);
    @include background-image(linear-gradient($blue, darken($blue, 5%)));
  }
}