<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p><%= lorem.sentences 3 %>.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<div class="callouts">
  <% 3.times do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= lorem.words 3 %></h3>
    </div>
    <div class="panel-body">
      <%= image_tag "http://placehold.it/300x300" %>
      <p><%= lorem.sentences 3 %>.</p>
    </div>
  </div>
  <% end %>
</div>

