<section class="style-guide">
  <article class="style">
    <header class="style-header">
      <h2>Coding Style</h2>
    </header>
    <!-- /style-header -->

    <section class="style-body">
      <p>Aenean felis orci, tincidunt et scelerisque at, ultrices nec nunc. Vestibulum ante ipsum primis in faucibus.</p>
      <p>Orci luctus et ultrices posuere cubilia Curae; Pellentesque dui nunc.</p>
      <ul>
        <li>vehicula scelerisque tristique sit amet</li>
        <li>Blandit a velit. Maecenas bibendum, eros non</li>
        <li>Curabitur sodales lectus felis</li>
      </ul>
      <code class="style-example">
        <pre>

        </pre>
      </code>
    </section>
  </article>
  <!-- /article -->
</section>
<!-- /section -->