      

<div class="container">
      
  <h1>We're mutually inclusive by default.</h1>
  <section class="row-fluid about-refresh">
    <div class="span5 refresh-background">
      <p>
        Sick of meetups where developers hide in one corner and the designers congregate in another? We were too.
      </p>
      <p>
        We formed RefreshCincy on the heels of QCMerge, an event that drew technologists from all backgrounds together that began to create a buzz around town.
      </p>
    </div>
    <!-- /refresh-background -->
    <div class="refresh-audience well pull-right">
      <ul class="unstyled">
        <li class="designers">
          Designers
        </li>
        <li class="makers">
          Makers
        </li>
        <li class="developers">
          Developers
        </li>
        <li class="writers">
          Writers
        </li>
        <li class="engineers">
          Engineers
        </li>
        <li class="editors">
          Editors
        </li>
        <li class="in-between">
          &amp; everything in-between
        </li>
      </ul>
    </div>
    <!-- refresh-audience -->
  </section>
  <!-- /about-refresh -->
</div>
<!-- /container -->
  
<section class="next-event">
  <div class="container">
    <h2>So when is the next event?</h2>
    <article class="event">
      <div class="row-fluid">
        <div class="event-description span4">
          <h3>Becoming Responsive</h3>
          <p>In this workshop, we'll give a brief background of what Responsive Web Design is and delve further into how Responsive Web Design is changing the process of designing and developing for today's web.</p>
        </div>
        <!-- /event-description -->
      </div>
      <!-- /row -->
      <div class="row-fluid">
        <div class="event-location span2">
          <h3>Ample</h3>
          <p>5th Floor</p>
        </div>
        <!-- /event-location -->
        <div class="span2 event-time">
          <h3>Aug. 9, 2012</h3>
          <p>6:30 p.m.</p>
        </div>
        <!-- event-time -->
      </div>
      <!-- /row -->
    </article>
    <!-- /event -->
  </div>
  <!-- /container -->
</section>
<!-- /next-event -->
