<div class="content">
  


  <article class="main-article">
    <header class="article-header">
      <h2>Article Header</h2>
    </header>
    <section class="article-body">
      <p>Donec nibh metus, imperdiet at suscipit ut, feugiat eget libero. Nulla ullamcorper leo id libero accumsan eget viverra risus dapibus. Sed eu risus sapien. Curabitur gravida turpis neque, aliquet ultrices orci. Duis egestas turpis eget massa viverra varius nec ac libero. Curabitur interdum vulputate diam, sit amet rhoncus nulla accumsan ac. Ut ultricies massa ac metus cursus in tincidunt arcu elementum. Ut at turpis augue. Vivamus vestibulum tortor in lectus mattis mattis. Mauris purus est, euismod at tempor sed, interdum eget eros. Sed laoreet venenatis elit, ac dictum mi posuere lacinia. Praesent volutpat augue eu ante tempus luctus. Aliquam vitae nibh diam. In eleifend laoreet ipsum, non tincidunt dui suscipit in.</p>

      <p>Quisque et mauris odio. Curabitur commodo, risus ut faucibus aliquet, diam purus ultrices justo, nec adipiscing sapien odio eget neque. Sed ullamcorper eleifend quam, ut facilisis ligula tincidunt ac. Quisque luctus adipiscing nulla, quis feugiat felis venenatis sit amet. Donec tristique, sapien ac tincidunt lacinia, tortor orci aliquam purus, quis tincidunt libero turpis nec massa. Sed pretium consequat auctor. Sed pellentesque, leo in convallis feugiat, magna magna auctor risus, eu pulvinar nulla elit id turpis.</p>
    </section>
    /article-body
  </article>
  /main-article
</div>