---
styleguide: true
---

<article class="styleguide-content">
  <header class="styleguide-header">
    <h1>Welcome</h1>
    <p>This is an example style guide. It doesn't really do anything, but it does have some rad buttons</p>  
  </header>

  <section class="styleguide-body">
    <p>Check out the <a href="/styleguide/05_buttons.html">Button styleguide</a> to see the value here.</p>
  </section>
</article>
<!-- /styleguide-content -->
